* {
    box-sizing: border-box;
}

body {
    background-color: rgb(186, 184, 184);
}
header {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin: 20px;

}
.highscore {
    font-size: 30px;
    color: purple;
    width: 50%;

}
.time {
    font-size: 30px;
    width: 50%;
    text-align: right;
}
.quiz-container {
    width: 50%;
    text-align: center;
    margin: 60px auto;
}
.title {
    font-size: 45px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.intro-text {
    font-size: 20px;
    margin-bottom: 30px;
}
.btn {
    background-color: rgba(152, 34, 152, 0.718);
    font-size: 20px;
    border-radius: 8px;
    text-align: left;
    padding: 5px;
    margin: 5px;
}
.hide {
    display: none;
}
.btn-layout {
    display: grid;
    width: 175px;
}
.top-border {
    border-top: 1px solid;
}
#choice {
    margin-top: 20px;
    padding-top: 10px;
    text-align: left;
    font-weight: 100;
    font-size: 30px;
}


